<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module>
    <field id="author">daniel.morris</field>
    <field id="created">2014-08-07 07:36:30.827 -0400</field>
    <field id="headingSidebarFields">severity,status</field>
    <field id="homePageContent" text-type="text/html"><![CDATA[<div id="polarion_editor_html_block7" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">#includeMacros(&quot;macros.macros&quot;)</pre>
</div><p id="polarion_17"></p><h1 id="polarion_wiki macro name=module-workitem;params=id=MP-5185"></h1><p id="polarion_4"></p><p id="polarion_5"></p><p id="polarion_6"></p><div id="polarion_wiki macro name=module-workitem;params=id=MP-2281|layout=1|external=true"></div><h2 id="polarion_wiki macro name=module-workitem;params=id=MP-5264"></h2><div id="polarion_wiki macro name=module-workitem;params=id=MP-2285|layout=1|external=true"></div><h2 id="polarion_wiki macro name=module-workitem;params=id=MP-5265"></h2><div id="polarion_wiki macro name=toc"></div><p id="polarion_8"></p><h2 id="polarion_wiki macro name=module-workitem;params=id=MP-5266"></h2><div id="polarion_wiki macro name=module-workitem;params=id=MP-2859|layout=1|external=true"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=MP-5267"></h3><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5268"></h4><div id="polarion_editor_html_block1" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">{show:wiki}
#slide(&quot;MP-1602&quot;)
{show}
#video(&quot;http://www.polarion.com/video/tutorials/portalintro/&quot;)
#video(&quot;http://www.polarion.com/video/tutorials/projects1/&quot;)
#video(&quot;http://www.polarion.com/video/tutorials/projects2/&quot;)
{show:wiki}
#helpLink(&quot;/polarion/help/?topic=/com.polarion.xray.doc.user/agchManageProjects.html&quot; &quot;Creating &amp; Managing Projects&quot;)
{show}</pre>
</div><p id="polarion_9">
  <br/>
</p><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5269"></h4><div id="polarion_wiki macro name=module-workitem;params=id=MP-3925|external=true"></div><div id="polarion_wiki macro name=module-workitem;params=id=MP-3941|external=true"></div><div id="polarion_wiki macro name=module-workitem;params=id=MP-2824|external=true"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=MP-5270"></h3><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5271"></h4><div id="polarion_editor_html_block10" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">{show:wiki}
#slide(&quot;MP-1591&quot;)
{show}
#video(&quot;http://www.polarion.com/video/tutorials/browsewi/&quot;)
#video(&quot;http://www.polarion.com/video/tutorials/linkroles/&quot;)
#video(&quot;http://www.polarion.com/video/tutorials/traceability/basic/&quot;)
{show:wiki}
#helpLink(&quot;/polarion/help/topic/com.polarion.xray.doc.user/ugchWorkitemsTopic.html&quot; &quot;Work Items Topic Overview&quot;)
#helpLink(&quot;/polarion/help/topic/com.polarion.xray.doc.user/ugchWorkitemsCreateEdit.html&quot; &quot;Creating and Editing Work Items&quot;)
#helpLink(&quot;/polarion/help/topic/com.polarion.xray.doc.user/ugchWorkitemsActions.html&quot; &quot;Work Item Actions&quot;)
#helpLink(&quot;/polarion/help/topic/com.polarion.xray.doc.user/ugchWorkitemsCommonOps.html&quot; &quot;Common Operations with Work Items&quot;)
{show}</pre>
</div><p id="polarion_11"> </p><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5272"></h4><div id="polarion_wiki macro name=module-workitem;params=id=MP-2613|external=true"></div><p id="polarion_12">
  <br/>
</p><p id="polarion_13"></p><div id="polarion_wiki macro name=module-workitem;params=id=MP-2616|external=true"></div><p id="polarion_14"> </p><div id="polarion_wiki macro name=module-workitem;params=id=MP-2617|external=true"></div><div id="polarion_wiki macro name=page_break;params=uid=15" contentEditable="false"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=MP-5273"></h3><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5274"></h4><div id="polarion_editor_html_block16" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">{show:wiki}
#slide(&quot;MP-1612&quot;)
{show}
#video(&quot;http://www.polarion.com/video/tutorials/comments/&quot;)
{show:wiki}
{show}</pre>
</div><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5275"></h4><div id="polarion_wiki macro name=module-workitem;params=id=MP-2614|external=true"></div><div id="polarion_wiki macro name=module-workitem;params=id=MP-2615|external=true"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=MP-5276"></h3><div id="polarion_wiki macro name=module-workitem;params=id=MP-3714|layout=1|external=true"></div><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5277"></h4><div id="polarion_editor_html_block17" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">{show:wiki}
#slide(&quot;MP-1755&quot;)
{show}
#video(&quot;http://www.polarion.com/video/tutorials/workwithdocs/&quot;)
#video(&quot;http://www.polarion.com/video/tutorials/reuse-docs&quot;)
{show:wiki}
#helpLink(&quot;/polarion/help/topic/com.polarion.xray.doc.user/ugchDocsWiki.html#ug_docswiki_docs_new&quot; &quot;Documents and Wiki Topic &quot;)
#helpLink(&quot;http://community.polarion.org/polarion/help/topic/com.polarion.xray.doc.user/ugDocsEditing.html&quot; &quot;Editing a Document&quot;)
#helpLink(&quot;/polarion/help/topic/com.polarion.xray.doc.user/ugDocsPropsHist.html&quot; &quot;Document Properties and History&quot;)
#helpLink(&quot;/polarion/help/topic/com.polarion.xray.doc.user/ugDocsOpsActions.html&quot; &quot;Document Operations and Actions&quot;)
{show}</pre>
</div><p id="polarion_18">  </p><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5278"></h4><p id="polarion_19">
  Understand how Polarion Documents can be used to track meeting minutes in a very easy way.<br/>
</p><div id="polarion_wiki macro name=module-workitem;params=id=MP-2608|external=true"></div><p id="polarion_20">
  <br/>
</p><div id="polarion_wiki macro name=module-workitem;params=id=MP-2827|external=true"></div><p id="polarion_21"></p><div id="polarion_wiki macro name=module-workitem;params=id=MP-2609|external=true"></div><p id="polarion_22"></p><div id="polarion_wiki macro name=module-workitem;params=id=MP-2618|external=true"></div><p id="polarion_23"></p><div id="polarion_wiki macro name=page_break;params=uid=24" contentEditable="false"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=MP-5279"></h3><div id="polarion_wiki macro name=module-workitem;params=id=MP-3715|layout=1|external=true"></div><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5280"></h4><div id="polarion_editor_html_block25" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">{show:wiki}
#slide(&quot;MP-1784&quot;)
{show}
#video(&quot;http://www.polarion.com/video/tutorials/traceability/basic/&quot;)
{show:wiki}
#helpLink(&quot;/polarion/help/topic/com.polarion.xray.doc.user/ugchWorkitemsLinking.html&quot; &quot;Linking Work Items&quot;)
{show}</pre>
</div><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5281"></h4><div id="polarion_wiki macro name=module-workitem;params=id=MP-3988|external=true"></div><p id="polarion_26">
  <br/>
</p><div id="polarion_wiki macro name=module-workitem;params=id=MP-2831|external=true"></div><p id="polarion_27">
  <br/>
</p><div id="polarion_wiki macro name=page_break|uid=merged_0;params=uid=28" contentEditable="false"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=MP-5282"></h3><div id="polarion_wiki macro name=module-workitem;params=id=MP-2619|layout=1|external=true"></div><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5283"></h4><div id="polarion_editor_html_block29" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">{show:wiki}
#slide(&quot;MP-1792&quot;)
{show}
#video(&quot;http://www.polarion.com/video/tutorials/search/&quot;)
#video(&quot;http://www.polarion.com/video/tutorials/advancedsearch/&quot;)
{show:wiki}
#helpLink(&quot;/polarion/help/topic/com.polarion.xray.doc.user/ugchWorkitemsSearch.html&quot; &quot;Searching Work Items&quot;)
{show}</pre>
</div><p id="polarion_30"> </p><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5284"></h4><div id="polarion_wiki macro name=module-workitem;params=id=MP-2620|external=true"></div><p id="polarion_31">
  <br/>
</p><div id="polarion_wiki macro name=module-workitem;params=id=MP-2607|external=true"></div><p id="polarion_32">
  <br/>
</p><div id="polarion_wiki macro name=module-workitem;params=id=MP-2621|external=true"></div><p id="polarion_33">
  <br/>
</p><p id="polarion_34"></p><div id="polarion_wiki macro name=page_break;params=uid=35" contentEditable="false"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=MP-5285"></h3><div id="polarion_wiki macro name=module-workitem;params=id=MP-3716|layout=1|external=true"></div><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5286"></h4><div id="polarion_editor_html_block36" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">{show:wiki}
#slide(&quot;MP-1809&quot;)
#slide(&quot;MP-5868&quot;)
{show}
#video(&quot;http://www.polarion.com/video/tutorials/wikiintro/&quot;)
{show:wiki}
#helpLink(&quot;/polarion/help/topic/com.polarion.xray.doc.user/ugchWiki.html&quot; &quot;Using the Wiki&quot;)
#helpLink(&quot;/polarion/#/wiki/Doc/SyntaxHelp&quot; &quot;Detailed wiki syntax help&quot;)
{show}</pre>
</div><p id="polarion_37"> </p><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5287"></h4><div id="polarion_wiki macro name=module-workitem;params=id=MP-2610|external=true"></div><div id="polarion_wiki macro name=module-workitem;params=id=MP-2611|external=true"></div><p id="polarion_25"></p><div id="polarion_wiki macro name=module-workitem;params=id=MP-5531|external=true"></div><p id="polarion_38">
  <br/>
</p><div id="polarion_wiki macro name=module-workitem;params=id=MP-2606|external=true"></div><div id="polarion_wiki macro name=page_break;params=uid=1" contentEditable="false"></div><p id="polarion_7"></p><h2 id="polarion_wiki macro name=module-workitem;params=id=MP-5186"></h2><h3 id="polarion_wiki macro name=module-workitem;params=id=MP-5288"></h3><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5289"></h4><div id="polarion_editor_html_block2" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">{show:wiki}
#slide(&quot;MP-5201&quot;)
{show}

{show:wiki}
#helpLink(&quot;/polarion/help/?topic=/com.polarion.xray.doc.user/ugchPlansTopic.html&quot; &quot;Introduction Plans&quot;)
#helpLink(&quot;/polarion/help/?topic=/com.polarion.xray.doc.user/ugchPlansWorkItems.html&quot; &quot;Planning Work Items&quot;)
{show}</pre>
</div><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5358"></h4><div id="polarion_wiki macro name=module-workitem;params=id=MP-5189"></div><div id="polarion_wiki macro name=module-workitem;params=id=MP-5190"></div><div id="polarion_wiki macro name=page_break;params=uid=2" contentEditable="false"></div><p id="polarion_10"></p><h3 id="polarion_wiki macro name=module-workitem;params=id=MP-5290"></h3><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5357"></h4><div id="polarion_editor_html_block37" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">{show:wiki}

#helpLink(&quot;/polarion/help/?topic=/com.polarion.xray.doc.user/ugchPlansWorkItems.html&quot; &quot;Planning Work Items&quot;)
{show}</pre>
</div><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5359"></h4><div id="polarion_wiki macro name=module-workitem;params=id=MP-5191"></div><div id="polarion_wiki macro name=module-workitem;params=id=MP-5192"></div><div id="polarion_wiki macro name=page_break;params=uid=11" contentEditable="false"></div><p id="polarion_15"></p><h3 id="polarion_wiki macro name=module-workitem;params=id=MP-5292"></h3><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5293"></h4><div id="polarion_editor_html_block3" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">{show:wiki}

#helpLink(&quot;/polarion/help/?topic=/com.polarion.xray.doc.user/ugchPlansWorkItems.html&quot; &quot;Planning Work Items&quot;)
{show}</pre>
</div><p id="polarion_16"></p><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5360"></h4><div id="polarion_wiki macro name=module-workitem;params=id=MP-5193"></div><div id="polarion_wiki macro name=page_break;params=uid=16" contentEditable="false"></div><p id="polarion_1"></p><h2 id="polarion_wiki macro name=module-workitem;params=id=MP-5187"></h2><h3 id="polarion_wiki macro name=module-workitem;params=id=MP-5294"></h3><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5295"></h4><div id="polarion_editor_html_block4" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">#linkWithName(&quot;/administration/plans/plan_status_enumeration&quot; &quot;Plan Status&quot;)&lt;br/&gt;
#helpLink(&quot;/polarion/help/?topic=/com.polarion.xray.doc.user/agchConfigPlans.html&quot; &quot;Plan Administration&quot;)</pre>
</div><p id="polarion_36"></p><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5361"></h4><div id="polarion_wiki macro name=module-workitem;params=id=MP-5194"></div><div id="polarion_wiki macro name=module-workitem;params=id=MP-5195"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=MP-5296"></h3><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5297"></h4><div id="polarion_editor_html_block5" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">#slide(&quot;MP-1248&quot;)
#linkWithName(&quot;/administration/workitems/calculatedfields&quot; &quot;Configuring Calculated fields&quot;)&lt;br/&gt;
#helpLink(&quot;/polarion/help/?topic=/com.polarion.xray.doc.user/agchConfigWorkItems.html&quot; &quot;Configuring Calculated fields&quot;)</pre>
</div><p id="polarion_41"></p><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5362"></h4><div id="polarion_wiki macro name=module-workitem;params=id=MP-5196"></div><div id="polarion_wiki macro name=page_break;params=uid=17" contentEditable="false"></div><p id="polarion_24"></p><h3 id="polarion_wiki macro name=module-workitem;params=id=MP-5298"></h3><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5299"></h4><div id="polarion_editor_html_block6" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">#linkWithName(&quot;/administration/plans/plan_templates&quot; &quot;Configuring Plan templates&quot;)&lt;br/&gt;
#linkWithName(&quot;/administration/workitems/planning&quot; &quot;Configuring Live Plan&quot;)&lt;br/&gt;
#helpLink(&quot;/polarion/help/?topic=/com.polarion.xray.doc.user/agchConfigPlans.html&quot; &quot;Configuring Plan templates&quot;)
#helpLink(&quot;/polarion/help/?topic=/com.polarion.xray.doc.user/ugchProjectManagePlan.html&quot; &quot;Configuring Live Plan&quot;)</pre>
</div><p id="polarion_42"></p><h4 id="polarion_wiki macro name=module-workitem;params=id=MP-5363"></h4><div id="polarion_wiki macro name=module-workitem;params=id=MP-5197"></div><div id="polarion_wiki macro name=module-workitem;params=id=MP-5198"></div><p id="polarion_3"></p><p id="polarion_2"></p>]]></field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">Exercise</item>
                <item id="layouter">section</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                            <item id="value">id</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                        <struct>
                            <item id="key">noPageBreak</item>
                        </struct>
                        <struct>
                            <item id="key">sidebarWorkItemFields</item>
                            <item id="value">severity,status</item>
                        </struct>
                        <struct>
                            <item id="key">typeNotInProject</item>
                        </struct>
                    </list>
                </item>
                <item id="type">exercise</item>
            </struct>
            <struct>
                <item id="label">Text</item>
                <item id="layouter">paragraph</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                        <struct>
                            <item id="key">noPageBreak</item>
                        </struct>
                        <struct>
                            <item id="key">sidebarWorkItemFields</item>
                            <item id="value">severity,status</item>
                        </struct>
                        <struct>
                            <item id="key">typeNotInProject</item>
                        </struct>
                    </list>
                </item>
                <item id="type">text</item>
            </struct>
        </list>
    </field>
    <field id="structureLinkRole">parent</field>
    <field id="usesOutlineNumbering">true</field>
</module>
