<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module>
    <field id="author">daniel.morris</field>
    <field id="created">2016-09-26 08:51:47.437 -0400</field>
    <field id="headingSidebarFields">severity,status</field>
    <field id="homePageContent" text-type="text/html"><![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=MP-5972"></h1><p id="polarion_template_0">
  <br/>
</p><h2 id="polarion_wiki macro name=module-workitem;params=id=MP-5969"></h2><div id="polarion_wiki macro name=toc"></div><p id="polarion_1"></p><p id="polarion_2"></p><h2 id="polarion_wiki macro name=module-workitem;params=id=MP-5970"></h2><div id="polarion_wiki macro name=module-workitem;params=id=MP-5853"></div><p id="polarion_3"></p><h2 id="polarion_wiki macro name=module-workitem;params=id=MP-5971"></h2><p id="polarion_4"></p><div id="polarion_wiki macro name=module-workitem;params=id=MP-5854"></div><p id="polarion_5"></p>]]></field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">Slide</item>
                <item id="layouter">section</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                            <item id="value">false</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                        <struct>
                            <item id="key">noPageBreak</item>
                        </struct>
                        <struct>
                            <item id="key">sidebarWorkItemFields</item>
                            <item id="value">,</item>
                        </struct>
                        <struct>
                            <item id="key">typeNotInProject</item>
                        </struct>
                    </list>
                </item>
                <item id="type">slide</item>
            </struct>
        </list>
    </field>
    <field id="status">open</field>
    <field id="structureLinkRole">next</field>
    <field id="title">Handout API</field>
    <field id="usesOutlineNumbering">true</field>
</module>
