<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module>
    <field id="author">schucks</field>
    <field id="created">2012-09-14 03:34:50.656 -0400</field>
    <field id="headingSidebarFields">severity,status</field>
    <field id="homePageContent" text-type="text/html">&lt;h1 id="polarion_wiki macro name=module-workitem;params=id=MP-3739"&gt;&lt;/h1&gt;&lt;h2 id="polarion_wiki macro name=module-workitem;params=id=MP-3740"&gt;&lt;/h2&gt;&lt;div id="polarion_wiki macro name=toc"&gt;&lt;/div&gt;&lt;p id="polarion_merged_0"&gt;&lt;/p&gt;&lt;h2 id="polarion_wiki macro name=module-workitem;params=id=MP-3812"&gt;&lt;/h2&gt;&lt;div id="polarion_wiki macro name=module-workitem;params=id=MP-3845"&gt;&lt;/div&gt;&lt;h3 id="polarion_wiki macro name=module-workitem;params=id=MP-3813"&gt;&lt;/h3&gt;&lt;div id="polarion_wiki macro name=module-workitem;params=id=MP-3829"&gt;&lt;/div&gt;&lt;h2 id="polarion_wiki macro name=module-workitem;params=id=MP-3819"&gt;&lt;/h2&gt;&lt;h3 id="polarion_wiki macro name=module-workitem;params=id=MP-3820"&gt;&lt;/h3&gt;&lt;div id="polarion_wiki macro name=module-workitem;params=id=MP-3846"&gt;&lt;/div&gt;&lt;p id="polarion_2"&gt;&lt;/p&gt;</field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">Slide</item>
                <item id="layouter">section</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                            <item id="value">id</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                        <struct>
                            <item id="key">noPageBreak</item>
                        </struct>
                        <struct>
                            <item id="key">sidebarWorkItemFields</item>
                            <item id="value">severity,status</item>
                        </struct>
                        <struct>
                            <item id="key">typeNotInProject</item>
                        </struct>
                    </list>
                </item>
                <item id="type">slide</item>
            </struct>
            <struct>
                <item id="label">Text</item>
                <item id="layouter">paragraph</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                        <struct>
                            <item id="key">noPageBreak</item>
                        </struct>
                        <struct>
                            <item id="key">sidebarWorkItemFields</item>
                            <item id="value">severity,status</item>
                        </struct>
                        <struct>
                            <item id="key">typeNotInProject</item>
                        </struct>
                    </list>
                </item>
                <item id="type">text</item>
            </struct>
        </list>
    </field>
    <field id="structureLinkRole">next</field>
    <field id="usesOutlineNumbering">true</field>
</module>
