<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module>
    <field id="author">stroebelet</field>
    <field id="created">2012-02-14 13:52:06.949 -0500</field>
    <field id="headingSidebarFields">severity,status</field>
    <field id="homePageContent" text-type="text/html"><![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=MP-1845"></h1><p id="polarion_template_0">
  <br/>
  Description what is part of the document
</p><h2 id="polarion_wiki macro name=module-workitem;params=id=MP-1846"></h2><div id="polarion_wiki macro name=toc"></div><h2 id="polarion_wiki macro name=module-workitem;params=id=MP-1847"></h2><div id="polarion_editor_html_block_new_0" class="polarion-dle-wiki-block" data-height="167">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">{workitems: document.id:&quot;$page.space.name/$page.name&quot; AND type:slide|fields=title,status|display=table|sortby=outlineNumber}</pre>
</div><p id="polarion_cleaned_0"> </p><h2 id="polarion_wiki macro name=module-workitem;params=id=MP-1848"></h2><div id="polarion_wiki macro name=module-workitem;params=id=MP-512"></div>]]></field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">Slide</item>
                <item id="layouter">section</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                            <item id="value">id</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                        <struct>
                            <item id="key">noPageBreak</item>
                        </struct>
                        <struct>
                            <item id="key">sidebarWorkItemFields</item>
                            <item id="value">severity,status</item>
                        </struct>
                        <struct>
                            <item id="key">typeNotInProject</item>
                        </struct>
                    </list>
                </item>
                <item id="type">slide</item>
            </struct>
        </list>
    </field>
    <field id="structureLinkRole">next</field>
    <field id="usesOutlineNumbering">true</field>
</module>
