<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module>
    <field id="author">hartliebc</field>
    <field id="created">2012-05-30 10:49:10.267 -0400</field>
    <field id="homePageContent" text-type="text/html"><![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=MP-2994"></h1>
<p id="polarion_template_0">
  <br/>
</p>
<h2 id="polarion_wiki macro name=module-workitem;params=id=MP-2995"></h2>
<div id="polarion_wiki macro name=toc"></div>
<p id="polarion_cleaned_0"></p>
<h2 id="polarion_wiki macro name=module-workitem;params=id=MP-3000"></h2>
<div id="polarion_wiki macro name=module-workitem;params=id=MP-2999"></div>
<h2 id="polarion_wiki macro name=module-workitem;params=id=MP-2997"></h2>
<div id="polarion_wiki macro name=module-workitem;params=id=MP-2998"></div>
<p id="polarion_1"></p>
]]></field>
    <field id="outlineNumbering">
        <struct/>
    </field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">Slide</item>
                <item id="layouter">section</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                            <item id="value">id</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                    </list>
                </item>
                <item id="type">slide</item>
            </struct>
            <struct>
                <item id="label">Text</item>
                <item id="layouter">paragraph</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                    </list>
                </item>
                <item id="type">text</item>
            </struct>
        </list>
    </field>
    <field id="structureLinkRole">next</field>
    <field id="usesOutlineNumbering">true</field>
</module>
