<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module>
    <field id="usesOutlineNumbering">true</field>
    <field id="homePageContent" text-type="text/html"><![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=MP-3180"></h1>
<p id="polarion_template_0"><br/>Description what is part of the document</p>
<h2 id="polarion_wiki macro name=module-workitem;params=id=MP-3181"></h2>
<div contenteditable="false" id="polarion_wiki macro name=toc"></div>
<h2 id="polarion_wiki macro name=module-workitem;params=id=MP-3182"></h2>
<div contenteditable="false" id="polarion_editor_html_block_new_0" style="POSITION: relative; BORDER-LEFT: #dddddd 6px dotted; PADDING-BOTTOM: 4px; LINE-HEIGHT: 1.7em; MARGIN-TOP: 1px; PADDING-LEFT: 34px; PADDING-TOP: 3px; LEFT: -40px"><div contenteditable="false" id="polarion_editor_html_block_content">content</div><pre contenteditable="false" id="polarion_editor_html_block_source" style="POSITION: absolute; DISPLAY: none; MARGIN-LEFT: -100000px">{workitems: document.id:"$page.space.name/$page.name" AND type:slide|fields=title,status|display=table|sortby=outlineNumber}</pre></div>
<p id="polarion_cleaned_0"> </p>
<h2 id="polarion_wiki macro name=module-workitem;params=id=MP-3183"></h2>
<div id="polarion_wiki macro name=module-workitem;params=id=MP-3188"></div>
]]></field>
    <field id="structureLinkRole">next</field>
    <field id="branchedFrom">Training Materials#Handout Requirements Management</field>
    <field id="outlineNumbering">
        <struct>
            <item id="prefix"/>
        </struct>
    </field>
    <field id="author">hartliebc</field>
    <field id="created">2012-07-10 09:57:20.282 +0200</field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="layouter">section</item>
                <item id="label">Slide</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="value">id</item>
                            <item id="key">fieldsAtStart</item>
                        </struct>
                        <struct>
                            <item id="value"/>
                            <item id="key">fieldsAtEnd</item>
                        </struct>
                        <struct>
                            <item id="value"/>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="value"/>
                            <item id="key">hidden</item>
                        </struct>
                    </list>
                </item>
                <item id="type">slide</item>
            </struct>
        </list>
    </field>
</module>
