<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module>
    <field id="author">hartliebc</field>
    <field id="created">2012-05-18 05:03:04.059 -0400</field>
    <field id="homePageContent" text-type="text/html"><![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=MP-2889"></h1>
<h2 id="polarion_wiki macro name=module-workitem;params=id=MP-2890"></h2>
<div id="polarion_wiki macro name=toc"></div>
<p id="polarion_cleaned_0"></p>
<h2 id="polarion_wiki macro name=module-workitem;params=id=MP-2892"></h2>
<div id="polarion_wiki macro name=module-workitem;params=id=MP-2893"></div>
<h2 id="polarion_wiki macro name=module-workitem;params=id=MP-2898"></h2>
<div id="polarion_wiki macro name=module-workitem;params=id=MP-2899"></div>
<h2 id="polarion_wiki macro name=module-workitem;params=id=MP-2900"></h2>
<p id="polarion_2"></p>
<div id="polarion_wiki macro name=module-workitem;params=id=MP-2901"></div>
<p id="polarion_1"></p>
]]></field>
    <field id="outlineNumbering">
        <struct/>
    </field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">Slide</item>
                <item id="layouter">section</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                            <item id="value">id</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                    </list>
                </item>
                <item id="type">slide</item>
            </struct>
            <struct>
                <item id="label">Text</item>
                <item id="layouter">paragraph</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                    </list>
                </item>
                <item id="type">text</item>
            </struct>
        </list>
    </field>
    <field id="structureLinkRole">next</field>
    <field id="usesOutlineNumbering">true</field>
</module>
